.details{
    padding: 10px;
    width: 600px;
    position: relative;
    left: 50%;
    animation: fadeIn 2s linear forwards;
}

.divider{
    border: 1px solid red;
}

.details{
    text-align: justify;
}

@media screen and (max-width: 1023px){
    .details{
        width: 95vw;
        position: static;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
