.contact-me-form{
    background-color: #3d3d3d;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.contact-me-form label,
.contact-me-form input,
.contact-me-form textarea{
    display: block;
    margin: 10px;
}

.contact-me-form label{
    margin-bottom: 10px;
    text-align: left;
}

.contact-me-form input,
.contact-me-form textarea{
    width: 95%;
    background-color: transparent;
    border: 1px solid #303030;
    color: #FFFFFF;
    resize: none;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.contact-me-form input{
    height: 40px;
}

.contact-me-form button{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    border: 2px solid #303030;
    transition: 0.5s;
}

.contact-me-form button:hover{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #3d3d3d;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 auto;
}

.contact-me-form .contact-me-form__invalid-input{
    border: 1px solid #cc4339;
}

.contact-me-form-success{
    color: #2ede21;
}

.contact-me-form-error{
    color: #fa4b4b;
}

@media screen and (max-width: 1023px){
    .contact-me-form{
        width: 75%;
    }
}

@media screen and (max-width: 767px){
    .contact-me-form{
        width: 85%;
    }
}