.progress{
    height: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 50vw;
    position: absolute;
    top: 3%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s linear forwards;
}

.progress__bar{
    width: 16.6666666667%;
    height: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: width 10s;
}

.progress__section{
    display: inline;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px){
    .progress{
        width: 80vw;
        top: 10%;
    }
}

@media screen and (max-width: 767px){
    .progress{
        width: 80vw;
        top: 10%;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}