.about-me-profile-pic{
    position: absolute;
    left: 10%;
    bottom: 0%;
    height: 670px;
    width: 320px;
    z-index: -1;
    animation: fadeIn 2s linear forwards;
}

@media screen and (max-width: 1024px){
   .about-me-profile-pic{
        display: none;
    }
}

@media screen and (max-width: 767px){
   .about-me-profile-pic{
        display: block;
        height: 230px;
        width: 110px;
        left: calc(100% - 135px);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

