h1, h2{
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.welcome{
    position: absolute;
    left: 5%;
    top: 30%;
    padding: 10px;
    animation: fadeIn 2s linear forwards;
}

.welcome__message{
    font-size: 48px;
}

.profile-pic{
    position: absolute;
    bottom: 0%;
    right: 15%;
    height: 700px;
    width: 500px;
    animation: fadeIn 2s linear forwards;
}

.linkedIn{
    color: #FFFFFF;
    font-size: 32px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

@media screen and (max-width: 1023px){
   .welcome{
       top: 150px;
       z-index: 1;
   }

   .profile-pic{
        height: 800px;
        width: 550px;
        right: 10%;
   }

   .linkedIn{
        font-size: 48px;
   }
}

@media screen and (max-width: 767px){
   .welcome{
       top: 140px;
   }

   .welcome__message{
        font-size: 24px;
   }

   .profile-pic{
        right: 0%;
        height: 600px;
        width: 400px;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}