.board{
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    grid-gap: 2% 1%;
    padding: 10px;
}

@media screen and (max-width: 1023px){
    .board{
        grid-template-columns: auto auto;
        grid-gap: 1%;
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px){
    .board{
        grid-template-columns: auto;
        grid: 1%;
    }
}
