.main-header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 38px;
    padding: 10px;
}

.main-header__container__logo{
    width: 100px;
    height: 30px;
}

.main-header__container__menu-button{
    font-size: 32px;
    float: right;
}

@media screen and (max-width: 1023px){
    .main-header__container__logo{
        width: 85px;
        height: 45px;
    }

    .main-header__container__menu-button{
        font-size: 42px;
    }
}

@media screen and (max-width: 767px){
    .main-header__container__logo{
        width: 45px;
        height: 25px;
    }

    .main-header__container__menu-button{
        font-size: 28px;
    }
}